version: "2.1"
services:

  mysqldb:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=foundlost-db
      - MYSQL_USER=sa
      - MYSQL_PASSWORD=password
    healthcheck:
      test: "exit 0"

  server:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      - spring.datasource.url=jdbc:mysql://mysqldb:3306/foundlost-db?useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    depends_on:
      mysqldb:
        condition: service_healthy
    volumes:
      - ./target:/target
      - ./.m2:/root/.m2